*.pyc
/*/*/*.pyc
music_app/migrations/__pycache__/__init__.cpython-38.pyc
music_site/__pycache__/__init__.cpython-38.pyc
*.log
/music/
music_app/models/demucs/*.th
music_app/models/music_source_separation/bytesep_data/*.pth
music_app/models/piano_transcripiton/*.pth
music_app/models/
music_app/soundfont/
*.mp3
*.wav
*.mid

music_app/algo/demucs/5c90dfd2-34c22ccb.th
music_app/algo/music_source_separation/bytesep/models/subband_tools/filters/f_4_64.mat
music_app/algo/music_source_separation/bytesep/models/subband_tools/filters/h_4_64.mat
# music_app/algo/music_source_separation/bytesep/models
music_app/algo/instrument_transcription_new/models
music_app/algo/singing_transcription_ICASSP2021/adjust_onset/models
music_app/algo/singing_transcription_ICASSP2021/AST/pretrained_models
music_app/algo/singing_transcription_ICASSP2021/AST/models
music_app/algo/MVSEP_MDX23/models

music_app/algo/instrument_transcription_new/models/


cudnn-linux-x86_64-8.5.0.96_cuda11-archive.tar.xz
nv-tensorrt-local-repo-ubuntu2004-8.5.2-cuda-11.8_1.0-1_amd64.deb
TensorRT-8.5.3.1.Linux.x86_64-gnu.cuda-11.8.cudnn8.6.tar.gz

music_app/algo/new_convert_midi/piano_fp16.engine
music_app/algo/new_convert_midi/piano.engine
music_app/algo/new_convert_midi/piano.onnx
music_app/lv2/x42-avldrums/README.txt
music_app/lv2/x42-avldrums/avldrums.lv2/avldrums.so
music_app/lv2/x42-avldrums/avldrums.lv2/avldrums.ttl

music_app/lv2/x42-avldrums/avldrums.lv2/Black_Pearl_4_LV2.sf2
music_app/lv2/x42-avldrums/avldrums.lv2/avldrumsUI_gl.so

music_app/lv2/x42-avldrums/avldrums.lv2/Blonde_Bop_HR_LV2.sf2
music_app/lv2/x42-avldrums/avldrums.lv2/Blonde_Bop_LV2.sf2
music_app/lv2/x42-avldrums/avldrums.lv2/Buskmans_Holiday_LV2.sf2
music_app/lv2/x42-avldrums/avldrums.lv2/manifest.ttl
music_app/lv2/x42-avldrums/avldrums.lv2/Red_Zeppelin_4_LV2.sf2
music_app/VSTs/Diva.64.so
music_app/VSTs/magical8bitplug2.vst3/Contents/Resources/moduleinfo.json
music_app/VSTs/magical8bitplug2.vst3/Contents/x86_64-linux/magical8bitplug2.so
music_app/VSTs/RoughRider3.vst3/Contents/x86_64-linux/RoughRider3.so
